body {
	margin: 0;
}
/*
h1{
	text-align: center;
}*/

#gameCanvas{
	border:10px solid #000000;

}

#gameContainer{
	text-align: center;
	width: 75%;
	overflow: hidden;
	float: left;
}

#chat {
	width: 25%;
	float: right;
	
}
#chatHistory{
	height: 820px;
	border:1px solid #000000;
	overflow-y: scroll;
	overflow-wrap: break-word;
}
#chat input{
	width: 100%
}

#gameInfo {
	font-size: 40;
	text-align: center;
}

.playerName {
	font-weight: bold;
	margin-right: 8px;
}